.panel.panel-default(style="position: fixed; bottom: -25px; width: inherit; padding: 0; left: 0; background-color: #eee")
  .panel-body
    = simple_form_for(@message, remote: true) do |f|
      %small.errors
      .row(style="padding-left:20px; padding-right: 20px; margin-bottom: -10px")
        .col-xs-9(style="padding:0")= f.input :content, label: false, input_html: {rows: 1}
        .col-xs-3(style="padding:0")= f.button :submit, 'Invia', class: 'btn btn-block btn-primary'