$('.errors').html("")
$('textarea').css('border', '1px solid black')

<% if @message.errors.present? %>

  <% @message.errors.full_messages.each do |error| %>
    $('.errors').html("<div class='errore' style='margin-bottom: 2px; color: red'><%= error %></div>")
    $('textarea').css('border', '1px solid red')
  <% end %>

<% else %>
  $('#messages').html("<%= escape_javascript(render partial: 'messages', locals: { messages: Message.all } ) %>")
  $('textarea').val("")

  var checkExist = setInterval(function() {
     if ($('#messages').length) {
        clearInterval(checkExist);
        andareGiu()
     }
  }, 100);
<% end %>

